* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #59656F;

}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h1 {
    color: white;
    font-size: 2rem;
}

header p, header span {
    color: white;
    font-size: 1.5rem;
}


h2 {
    text-align: center;
    font-size: 2rem;
}

.container p {
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
}

button {
    background-color: #CF5C36;
    color: white;
    padding: 16px;
    width: 250px;
    box-shadow: 2px 2px 2px grey;
    border-radius: 4%;
}

button:hover {
    background-color: #e7b8a9;
}

.container {
    background: white;
    padding: 2rem;
    max-width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* QUIZ SECTION */
.choices-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.choices {
    background-color: #D7CDCC;
    padding: .8rem;
    width:20rem;
    border: 2px solid #59656F;
    color: black;
}

.choices:hover {
    background-color: #59656F;
    color: white;
    border: 2px solid #CF5C36;
}

#next-btn {
    width: 100px;
    padding: 12px; 
}

.hidden {
    display: none;
}

/* RESULTS SECTION */
form label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    padding: 8px;
}

#submit-btn {
    padding:8px;
    width: 150px;
}

/* HIGH SCORES SECTION */

#results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem; 
}




